/* Eliminar os borders da tag header*/

* {
  /*outline: 1px solid black;*/
    padding: 0;
    margin: 0;
}

/* atribuicoes geral da nav */

.barraMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 1s;
}

/* Estilizando o botão menu mobile - nao deixar espaço entre o label e for */

.menuMobile{
    display: flex;
    justify-content: flex-start;
}

a {
    cursor: pointer;
}

.nav1 label {

    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: inherit;
    height: inherit;
   text-align: center;
   width: 120px;
    height: inherit;
    justify-content: flex-end;

}

.nav1 div {
    background-color: tomato;
    flex:1;
}

#content:hover {
    background: #fff;
    }

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    position: relative;
    display: flex;
    width: 160px;
    font-family: Arial;
    align-items: flex-start;
    Flex-direction: column;
    padding: 8px 0px 8px 0px;
    background-color: tomato;
    margin-top: 42px;
    margin-left: -100%;
    /*O menu é escondido em 100% a esquerda */

}


/* configuracoes do logo */
.divLogo {
    height: 80px;
    width: 120px;
}

.divLogoMobile {
    height: 60px;
    width: 120px;
}

.logo {
    height: inherit;
    width: inherit;
}

.nav1 {
    display: flex;
    flex-basis: 30%;
   
}

.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* configuracoes do menu */

.nav3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav3 a {
    
    height: 20px;
    min-width: 150x;
    max-width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 10px 25px 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    
}

/*escondendo o btnMenu */

#btnMenu {
    display: visible;
}

.nav3Mobile {
    align-items: flex-start;
    Flex-direction: column;
    padding: 8px 0px 8px 0px;
    border: solid 1px black;
    margin-top: -50px;

}


.nav3Mobile a {
    height: 20px;
    min-width: 150x;
    max-width: 150px;
    display: flex;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    /*: solid 1px black;*/
}

.nav3Mobile1333 {
    position: relative;
    margin-left: -50%; /*O menu é escondido em 100% a esquerda */
    transition: all .4s;
}


/* configuracoes imagens sections */
.sections {
    width:auto;
    height:100vh;
    display: flex;
    justify-content: center;
}

.sections img{
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}

@media (max-width: 750px) {
    .nav2 {
        display: none;
    }

    .nav3 {
        display: none;
    }

    
#btnMenu:checked ~ .menu {
        display: visible;
        align-items: flex-start;
        Flex-direction: column;
        padding: 8px 0px 8px 0px;
        border: solid 1px black;
        margin-top: -50%;
    }

}

@media (min-width: 750px) {
    .nav1 {
        display: none;
    }
    .nav2 {
        display: visible;
    }
}

