* {
    padding: 0;
    margin: 0;
   /*outline: 1px solid black;*/
}
/* ########################################################
    CONFIGURAÇÕES MENU MOBILE
    ########################################################*/

.headerMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 1s;
}
.divLogoMobile {
    height: 60px;
    width: 120px;
    display: flex;
    flex: 1;

}
.divLabel{
    height: 60px;
    width: 120px;
    display: block;
    flex:1;
 
}

.logo {
    height: inherit;
    width: inherit;   
}

.navMobile {
    background-color: tomato;
    display: flex;
    justify-content: center;  
    border-bottom: #222 solid 1px;  
}


#btnMenu {
    display: none;
}


.menuMobile {
    width: 100%;
    height: 60px;
    font-family: Arial;
    font-size: 20px;

 
}

.menuMobile ul {
    list-style: none;
    position: relative;
  
}

.mmenuMobile ul li {
    width: 100%;
    float: left;
    padding: 5px 0px 5px 0px;
 
}

.menuMobile a {
    padding: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: tomato;
    color: #222;
  
}

    /* altera a  cor de fundo do item quando passar o mouse */

    .menuMobile a:hover {
    background-color: #222;
        color: #fff;
    }

@media(max-width: 800px) {

    label[for="btnMenu"] {
        display: block;
        position: absolute;
    }

    #btnMenu:checked~.menuMobile {
        margin-left: 0%;
        transition: all .4s;
    }

    #btnMenu:not(checked)~.menuMobile {
        margin-left: -110%; 
        transition: all .4s;
    }

    .menuMobile {
        margin-left: -110%;
        /*O menu é escondido em 100% a esquerda */
        
    }


}
.navMobile label {
    display: inline-block;  
background-color: #222;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
width: inherit;
height: inherit;
text-align: center;
width: 120px;
height: inherit;
justify-content: flex-end
}

.divLogoMobile {
    height: 60px;
    width: 120px;
    background-color: tomato;
    
}


.logo {
    height: inherit;
    width: inherit;
}

/* ########################################################
    CONFIGURAÇÕES DAS SECTIONS
    ########################################################*/

.sections {
    width:auto;
    height:100vh;
    display: flex;
    justify-content: center;
}

.sections img{
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}